.border-top {
  border-top: 2rpx solid var(--divider-base-color);
}
.item {
  padding: 34rpx 0;
  .name {
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-size: 42rpx;
    font-weight: 600;
    line-height: 56rpx;
    color: rgb(17, 94, 89);
    .copy {
      display: inline-block;
      font-size: 32rpx;
      margin-left: 10rpx;
      color: rgb(200, 202, 204);
    }
  }
  .sentence {
    margin-top: 14rpx;
    font-size: 31rpx;
    line-height: 48rpx;
    font-style: italic;
    color: rgb(71, 85, 105);
  }
  .bottom {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-top: 14rpx;
    font-size: 24rpx;
    color: rgb(100, 116, 139);
    .source {
      line-height: 34rpx;
      .label {
        margin-right: 16rpx;
      }.label:last-child {
        margin-right: 0;
      }
    }
    .mark {
      background-color: rgba(240, 253, 250, 0.7);
      border-radius: 14rpx;
      margin-top: 20rpx;
      padding: 20rpx;
      text-align: left;
      color: rgb(71, 85, 105);
      font-size: 24rpx;
      line-height: 38rpx;
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 30rpx;
      .infavorite {
        color: rgb(234, 179, 8);
      }
      .iconfont {
        font-size: 30rpx;
        margin-right: 30rpx;
      }
      .share-container {
        width: 30rpx;
        height: 30rpx;
        position: relative;
        margin-left: 0;
      }
      .share.text {
        position: absolute;
      }
      .share.button {
        position: absolute;
        opacity: 0;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}