page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32rpx;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 32rpx;
    border: 2rpx solid var(--divider-base-color);
    border-radius: 28rpx;
    box-shadow: var(--box-shadow-card);
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .book-icon {
        font-size: 140rpx;
        margin: 0 auto 48rpx;
        color: var(--primary-color);
      }
      .title {
        font-size: 34rpx;
        font-weight: 600;
        line-height: 48rpx;
        color: rgb(30, 41, 59);
      }
      .desc {
        font-size: 24rpx;
        line-height: 34rpx;
        margin-top: 14rpx;
        color: rgb(100, 116, 139);
      }
      .items {
        width: 100%;
        margin-top: 56rpx;
        .item {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 28rpx;
          border: 2rpx solid var(--divider-base-color);
          border-radius: 20rpx;
          font-size: 28rpx;
          font-weight: 500;
          color: rgb(30, 41, 59);
          margin-top: 20rpx;
          .left {
            display: flex;
            align-items: center;
          }
          .icon {
            font-size: 36rpx;
            color: var(--primary-color);
            margin-right: 20rpx;
          }
          .more {
            font-size: 24rpx;
            color: rgb(148, 163, 184);
          }
          .share.button {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            background: rgba(0, 0, 0, 0);
          }
        }
        .item:first-child {
          margin-top: 0;
        }
      }
    }
  }
}