
.container {
  padding: 32rpx 32rpx 120rpx 32rpx;
  .item {
    display: flex;
    align-items: flex-start;
    margin-top: 56rpx;
    .content {
      display: flex;
      flex-direction: column;
      font-size: 24rpx;
      .question {
        color: var(--primary-color);
        line-height: 34rpx;
      }
      .answer {
        margin-top: 14rpx;
        color: rgb(71, 85, 105);
        line-height: 38rpx;
      }
    }
  }
  .item:first-child {
    margin-top: 0;
  }
}