
.container {
  padding: 32rpx 32rpx 120rpx 32rpx;
  .item {
    display: flex;
    align-items: flex-start;
    margin-top: 56rpx;
    .content {
      display: flex;
      flex-direction: column;
      .question {
        color: var(--primary-color);
        font-size: 31rpx;
        line-height: 49rpx;
      }
      .answer {
        margin-top: 14rpx;
        color: rgb(71, 85, 105);
        font-size: 28rpx;
        line-height: 44rpx;
      }
    }
  }
  .item:first-child {
    margin-top: 0;
  }
}