page {
  /* 基础主题色 */
  --primary-color: rgb(20, 184, 166);
  /* 分割线颜色 */
  --divider-base-color: rgb(229, 231, 235);
  /* footer-no-more */
  --footer-no-more-font-size: 26rpx;
  --footer-no-more-color: #bbbbbb;
}