page {
  /* 基础主题色 */
  --primary-color: rgb(20, 184, 166);
  --linear-gradient: linear-gradient(to right, rgb(20, 184, 166), rgb(8, 145, 178));
  --box-shadow-card: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 30rpx -6rpx, rgba(0, 0, 0, 0.1) 0px 8rpx 12rpx -8rpx;
  --favorite-star-active-color: rgb(234, 179, 8);
  /* 分割线颜色 */
  --divider-base-color: rgb(229, 231, 235);
  /* footer-no-more */
  --footer-no-more-font-size: 26rpx;
  --footer-no-more-color: #bbbbbb;
}