.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34rpx;
  margin-bottom: 28rpx;
  box-shadow: var(--box-shadow-card);
  border-radius: 20rpx;
  border: 2rpx solid rgb(229, 231, 235);
  .left {
    flex: 1;
    padding-right: 28rpx;
    .name {
      text-align: left;
      font-size: 30rpx;
      font-weight: 600;
      line-height: 48rpx;
    }
    .description {
      font-size: 24rpx;
      line-height: 34rpx;
      margin-top: 6rpx;
    }
  }
  .arrow {
    font-size: 24rpx;
    flex-shrink: 0;
    z-index: 100;
    color: rgb(148, 163, 184);
  }
}
.iconfont {
  font-size: 36rpx;
}