@import "/css/variables.wxss";
@import "/icon/iconfont.wxss";

.item-hover {
  border: 2rpx solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 16rpx 24rpx -5rpx, rgba(0, 0, 0, 0.1) 0px 7rpx 11rpx -7rpx;
  transform: translate(0px, -4rpx) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}