.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34rpx;
  margin-bottom: 28rpx;
  box-shadow: var(--box-shadow-card);
  border-radius: 20rpx;
  border: 2rpx solid rgb(229, 231, 235);
  .left {
    flex: 1;
    padding-right: 28rpx;
    .name {
      text-align: left;
      font-size: 30rpx;
      font-weight: 600;
      line-height: 48rpx;
    }
    .description {
      font-size: 24rpx;
      line-height: 34rpx;
      margin-top: 6rpx;
    }
  }
  .arrow {
    width: 28rpx;
    height: 28rpx;
    flex-shrink: 0;
    z-index: 100;
  }
}
.evfont {
  font-size: 36rpx;
}
.item-hover {
  border: 2rpx solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 16rpx 24rpx -5rpx, rgba(0, 0, 0, 0.1) 0px 7rpx 11rpx -7rpx;
  transform: translate(0px, -4rpx) rotate(0deg) skewX(0deg) skewY(0deg) scaleX(1) scaleY(1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}