.cu-custom view {
  box-sizing: border-box;
}
.cu-custom .ev-back {
  font-size: 36rpx;
  color: white;
}
.cu-custom .content {
  font-size: 32rpx;
}
.cu-bar {
	display: flex;
	position: relative;
	align-items: center;
	min-height: 100rpx;
	justify-content: space-between;
}

.cu-bar .action {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
	max-width: 100%;
}

.cu-bar .action:first-child,
.cu-bar .action.avatar {
	margin-left: 30rpx;
	font-size: 30rpx;
}
.cu-bar .action.avatar .base-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}
.cu-bar .action.avatar .avatar {
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
  overflow: hidden;
}

.cu-bar .cu-avatar:first-child {
	margin-left: 20rpx;
}

.cu-bar .action:last-child {
	margin-right: 30rpx;
}

.cu-bar .content {
	position: absolute;
	text-align: center;
	width: calc(100% - 340rpx);
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	height: 60rpx;
	font-size: 32rpx;
	line-height: 60rpx;
	cursor: none;
	pointer-events: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.cu-bar.ios .content {
	bottom: 7px;
	height: 30px;
	font-size: 32rpx;
	line-height: 30px;
}

.cu-bar.btn-group {
	justify-content: space-around;
}

.cu-bar.btn-group button {
	padding: 20rpx 32rpx;
}

.cu-bar.btn-group button {
	flex: 1;
	margin: 0 20rpx;
	max-width: 50%;
}

.cu-bar .search-form {
	background-color: #f5f5f5;
	line-height: 64rpx;
	height: 64rpx;
	font-size: 24rpx;
	color: #000000;
	flex: 1;
	display: flex;
	align-items: center;
	margin: 0 30rpx;
}

.cu-bar .search-form+.action {
	margin-right: 30rpx;
}

.cu-bar .search-form input {
	flex: 1;
	padding-right: 30rpx;
	height: 64rpx;
	line-height: 64rpx;
	font-size: 26rpx;
	background-color: transparent;
}

.cu-bar {
  background-image: var(--linear-gradient);
}
.cu-bar.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1024;
	box-shadow: 0 1rpx 6rpx rgba(0, 0, 0, 0.1);
}
.cu-custom {
	display: block;
  position: relative;
}

.cu-custom .cu-bar .content {
  width: calc(100% - 440rpx);
  color: white;
}

.cu-custom .cu-bar .content image {
	height: 60rpx;
	width: 240rpx;
}

.cu-custom .cu-bar {
	min-height: 0px;
	padding-right: 220rpx;
	// box-shadow: 0rpx 0rpx 0rpx;
	z-index: 9999;
}

.cu-custom .cu-bar .border-custom {
	position: relative;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 1000rpx;
	height: 30px;
}

.cu-custom .cu-bar .border-custom::after {
	content: " ";
	width: 200%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
	transform: scale(0.5);
	transform-origin: 0 0;
	pointer-events: none;
	box-sizing: border-box;
	border: 1rpx solid #ffffff;
	opacity: 0.5;
}

.cu-custom .cu-bar .border-custom::before {
	content: " ";
	width: 1rpx;
	height: 110%;
	position: absolute;
	top: 22.5%;
	left: 0;
	right: 0;
	margin: auto;
	transform: scale(0.5);
	transform-origin: 0 0;
	pointer-events: none;
	box-sizing: border-box;
	opacity: 0.6;
	background-color: #ffffff;
}
.cu-custom .cu-bar .border-custom .evfont {
	display: block;
	flex: 1;
	margin: auto !important;
	text-align: center;
	font-size: 34rpx;
}